# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
*.egg-info/
venv/

# Jupyter
.ipynb_checkpoints/

# Data files
data/
*.csv
*.db
*.sqlite
pipeline.duckdb

# VS Code
.vscode/

# MacOS
.DS_Store

# Logs
*.log
